# Projet IA

In [1]:
import scipy
import numpy
import sklearn
import pandas as pds
import numpy as np
import seaborn as sns
import matplotlib.pyplot as plt
#import sergiopeignier as sp

## Attribute selection

In [2]:
parse_df = pds.read_csv("./datas/Data-IA-World-Development-Indicator.txt", sep="\t", header=0)

In [3]:
parse_df.shape

(220, 29)

In [4]:
parse_df.head()

,Time,Time Code,Country Name,Country Code,Diabetes prevalence (% of population ages 20 to 79) [SH.STA.DIAB.ZS],"Fertility rate, total (births per woman) [SP.DYN.TFRT.IN]","Hospital beds (per 1,000 people) [SH.MED.BEDS.ZS]","Incidence of HIV, all (per 1,000 uninfected population) [SH.HIV.INCD.TL.P3]","Incidence of malaria (per 1,000 population at risk) [SH.MLR.INCD.P3]","Incidence of tuberculosis (per 100,000 people) [SH.TBS.INCD]",...,"People using safely managed drinking water services, urban (% of urban population) [SH.H2O.SMDW.UR.ZS]",People using safely managed drinking water services (% of population) [SH.H2O.SMDW.ZS],"Physicians (per 1,000 people) [SH.MED.PHYS.ZS]",Population ages 0-14 (% of total population) [SP.POP.0014.TO.ZS],Population ages 15-64 (% of total population) [SP.POP.1564.TO.ZS],"Population ages 65 and above, total [SP.POP.65UP.TO]",Poverty gap at $1.90 a day (2011 PPP) (%) [SI.POV.GAPS],Poverty gap at $3.20 a day (2011 PPP) (%) [SI.POV.LMIC.GP],Poverty gap at $5.50 a day (2011 PPP) (%) [SI.POV.UMIC.GP],Pregnant women receiving prenatal care (%) [SH.STA.ANVC.ZS]
0,2014.0,YR2014,Afghanistan,AFG,NaN,5.163,0.5,0.03,12.666374,189.0,...,NaN,NaN,0.2983,45.640589,51.907836,818110.0,NaN,NaN,NaN,63.2
1,2014.0,YR2014,Albania,ALB,NaN,1.688,NaN,0.04,NaN,16.0,...,NaN,69.903702,NaN,19.220282,68.599025,351913.0,0.2,2.5,11.7,NaN
2,2014.0,YR2014,Algeria,DZA,NaN,3.022,NaN,0.04,0.000000,72.0,...,NaN,NaN,NaN,28.264282,66.002598,2231542.0,NaN,NaN,NaN,NaN
3,2014.0,YR2014,American Samoa,ASM,NaN,NaN,NaN,NaN,NaN,6.4,...,NaN,12.545842,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,2014.0,YR2014,Andorra,AND,NaN,NaN,NaN,NaN,NaN,8.7,...,NaN,90.639998,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [16]:
#Pourcentage de cellules NaN dans 1 colonne
na_col = parse_df.isna().sum()
parse_np = parse_df.values
df=parse_df
for i in range(len(na_col)):
    if na_col[i] >= 180:
        print(parse_df.columns[i])
        df = parse_df.drop(columns = parse_df.columns[i])
df

Diabetes prevalence (% of population ages 20 to 79) [SH.STA.DIAB.ZS]
Number of surgical procedures (per 100,000 population) [SH.SGR.PROC.P5]
People using safely managed drinking water services, rural (% of rural population) [SH.H2O.SMDW.RU.ZS]
Pregnant women receiving prenatal care (%) [SH.STA.ANVC.ZS]

,Time,Time Code,Country Name,Country Code,Diabetes prevalence (% of population ages 20 to 79) [SH.STA.DIAB.ZS],"Fertility rate, total (births per woman) [SP.DYN.TFRT.IN]","Hospital beds (per 1,000 people) [SH.MED.BEDS.ZS]","Incidence of HIV, all (per 1,000 uninfected population) [SH.HIV.INCD.TL.P3]","Incidence of malaria (per 1,000 population at risk) [SH.MLR.INCD.P3]","Incidence of tuberculosis (per 100,000 people) [SH.TBS.INCD]",...,"People using safely managed drinking water services, rural (% of rural population) [SH.H2O.SMDW.RU.ZS]","People using safely managed drinking water services, urban (% of urban population) [SH.H2O.SMDW.UR.ZS]",People using safely managed drinking water services (% of population) [SH.H2O.SMDW.ZS],"Physicians (per 1,000 people) [SH.MED.PHYS.ZS]",Population ages 0-14 (% of total population) [SP.POP.0014.TO.ZS],Population ages 15-64 (% of total population) [SP.POP.1564.TO.ZS],"Population ages 65 and above, total [SP.POP.65UP.TO]",Poverty gap at $1.90 a day (2011 PPP) (%) [SI.POV.GAPS],Poverty gap at $3.20 a day (2011 PPP) (%) [SI.POV.LMIC.GP],Poverty gap at $5.50 a day (2011 PPP) (%) [SI.POV.UMIC.GP]
0,2014.0,YR2014,Afghanistan,AFG,NaN,5.163,0.5,0.03,12.666374,189.0,...,NaN,NaN,NaN,0.2983,45.640589,51.907836,818110.0,NaN,NaN,NaN
1,2014.0,YR2014,Albania,ALB,NaN,1.688,NaN,0.04,NaN,16.0,...,NaN,NaN,69.903702,NaN,19.220282,68.599025,351913.0,0.2,2.5,11.7
2,2014.0,YR2014,Algeria,DZA,NaN,3.022,NaN,0.04,0.000000,72.0,...,NaN,NaN,NaN,NaN,28.264282,66.002598,2231542.0,NaN,NaN,NaN
3,2014.0,YR2014,American Samoa,ASM,NaN,NaN,NaN,NaN,NaN,6.4,...,NaN,NaN,12.545842,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,2014.0,YR2014,Andorra,AND,NaN,NaN,NaN,NaN,NaN,8.7,...,NaN,NaN,90.639998,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
215,2014.0,YR2014,Zambia,ZMB,NaN,5.026,NaN,4.38,222.978906,406.0,...,NaN,46.476106,NaN,NaN,46.509147,51.426682,317877.0,NaN,NaN,NaN
216,2014.0,YR2014,Zimbabwe,ZWE,NaN,3.974,NaN,4.23,101.893604,278.0,...,NaN,NaN,NaN,0.1240,42.428853,54.692612,391097.0,NaN,NaN,NaN
217,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
218,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
219,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [12]:
na_col

Time                                                                                                        3
Time Code                                                                                                   3
Country Name                                                                                                3
Country Code                                                                                                3
Diabetes prevalence (% of population ages 20 to 79) [SH.STA.DIAB.ZS]                                      220
Fertility rate, total (births per woman) [SP.DYN.TFRT.IN]                                                  20
Hospital beds (per 1,000 people) [SH.MED.BEDS.ZS]                                                         108
Incidence of HIV, all (per 1,000 uninfected population) [SH.HIV.INCD.TL.P3]                               102
Incidence of malaria (per 1,000 population at risk) [SH.MLR.INCD.P3]                                      113
Incidence of tuberculosis (per 100,000 people) [SH.TBS.INCD]                                               11
Life expectancy at birth, total (years) [SP.DYN.LE00.IN]                                                   19
Mortality rate, adult, female (per 1,000 female adults) [SP.DYN.AMRT.FE]                                   28
Mortality rate, adult, male (per 1,000 male adults) [SP.DYN.AMRT.MA]                                       28
Mortality rate, infant (per 1,000 live births) [SP.DYN.IMRT.IN]                                            27
Number of infant deaths [SH.DTH.IMRT]                                                                      27
Number of maternal deaths [SH.MMR.DTHS]                                                                    35
Number of neonatal deaths [SH.DTH.NMRT]                                                                    27
Number of surgical procedures (per 100,000 population) [SH.SGR.PROC.P5]                                   201
People using safely managed drinking water services, rural (% of rural population) [SH.H2O.SMDW.RU.ZS]    186
People using safely managed drinking water services, urban (% of urban population) [SH.H2O.SMDW.UR.ZS]    165
People using safely managed drinking water services (% of population) [SH.H2O.SMDW.ZS]                    111
Physicians (per 1,000 people) [SH.MED.PHYS.ZS]                                                            105
Population ages 0-14 (% of total population) [SP.POP.0014.TO.ZS]                                           27
Population ages 15-64 (% of total population) [SP.POP.1564.TO.ZS]                                          27
Population ages 65 and above, total [SP.POP.65UP.TO]                                                       27
Poverty gap at $1.90 a day (2011 PPP) (%) [SI.POV.GAPS]                                                   140
Poverty gap at $3.20 a day (2011 PPP) (%) [SI.POV.LMIC.GP]                                                140
Poverty gap at $5.50 a day (2011 PPP) (%) [SI.POV.UMIC.GP]                                                140
Pregnant women receiving prenatal care (%) [SH.STA.ANVC.ZS]                                               181
dtype: int64

In [7]:
print(parse_df.isna().sum(axis=1))

0       8
1       8
2      11
3      23
4      19
       ..
215     9
216     9
217    29
218    29
219    29
Length: 220, dtype: int64